body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
h1 {
  &.heading {
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0;
  }
}
h2 {
  &.heading {
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.3em;
    text-align: center;margin: 0;
  }
}
h3 {
  &.heading {
    font-size: 4.8rem;
    font-weight: 600;margin: 0;
  }
}

.section {
  width: 100%;
  max-width: 192rem;
}
