.navbar {
  width: 100%;
  height: 10rem;
  background: $white;
}
.menu_link {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.3em;
  color: $heading;
  transition: all 0.4s ease-in-out;
  &:not(:last-child) {
    margin-right: 3rem;
  }
  &:hover {
    color: $primary;
  }
}
.menu_btn {
  background-color: $primary;
  padding: 1.3rem 3.8rem;
  color: $white;
  border-radius: 0.5rem;
  border: 0.2rem solid $primary;
  &:hover {
    background: transparent;
  }
}
.logo {
  display: block;
  width: 3.7rem;
  height: 3.8rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.hero {
  width: 100%;
  padding: 19.4rem 0;
  background: url("./../images/header.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.hero_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero_left {
  width: 896px;
}
.title {
  display: inline-block;
  padding: 10px 20px;
  background: rgba(0, 113, 227, 0.3);
  border-radius: 50px;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #31343d;
}

.hero_right {
  position: absolute;
  left: 52.6%;
  top: -10rem;
}




