@media screen and (max-width: 768px) {
  .purchase {
    padding: 3.6rem 5rem;
  }
  h1 {
    &.heading {
      margin-top: 4.2rem;
      font-size: 6.4rem;
      line-height: 8.5rem;
    }
  }
  h2 {
    &.heading {
      font-size: 4rem;
      line-height: 6rem;
    }
  }

  .hero_left {
    width: 100%;
    margin-bottom: 4rem;
  }
  .hero_right {
    display: none;
  }
  .slider_link {
    font-size: 3.4rem;
    line-height: 4.8rem;
    margin-right: 3rem;
  }
}
@media screen and (max-width: 400px) {
  .purchase {
    padding: 2rem 1rem;
  }
  .hero {
    padding: 5rem 0;
  }
  .menu_link {
    &:not(:last-child) {
      margin-right: 1.2rem;
    }
  }
  .menu_btn {
    padding: 0.8rem 1.6rem;
  }
  h1 {
    &.heading {
      margin-top: 4rem;
      font-size: 3.8rem;
      line-height: 1.3em !important;
      text-align: center;
    }
  }
  h2 {
    &.heading {
      font-size: 3.4rem;
      line-height: 1.3em !important;
    }
  }
  .slider_top{
    margin-bottom: 2rem !important;
  }
  .slider_link{
    margin-right: 5rem !important;
    font-size: 4rem !important;
    line-height: 5.6rem !important;
  }
  .title {
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: #31343d;
  }
  .footer_text {
    font-size: 1.4rem;
  }
}
